/* Custom Font Definition */
@font-face {
  font-family: 'overpass';
  src: url(../src/Fonts/overpass-heavy.otf);
}

@font-face {
  font-family: 'paintball';
  src: url(../src/Fonts/Paintball.ttf);
}

/* Small screen display */
@media only screen and (min-width: 200px) and (max-width: 1024px) {
  .mainBackground {
    background-image: url("./Images/paintBackground.jpg");
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
  }
}

/* Medium to large display */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .mainBackground {
    background-image: url("./Images/bodyBackground.png");
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
  }
}

#nav-dropdown.dropdown-toggle {
     padding-top: 7px;
     padding-left: 0px;
     padding-right: 0px;
     padding-bottom: 0px;
}


/* .headerSubTitle, .subTitle {
  color: #948f8f;
} */

.checkBoxLength {
  display: block;
  width: 100%;
  margin: 0%, auto;
  padding-bottom: 5%;
  text-align: center;
}

.divBorder {
  border: 1px solid gainsboro;
  border-radius: 10px;
  margin-bottom: 10%;
}

.formAccountSettings {
  margin-top: 5vh;
  background-color: white;
}

.formSettings {
  margin-top: 15vh;
  background-color: white;
}

.headings {
  font-family: "overpass";
  display: block;
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

.iconDiv {
  max-width: 20%;
  max-height: 10vh;
}

.iconSettings {
  /* max-width: 100%;
  max-height: 100%; */
  margin-right: 20px;
  height: 20px;
}

.jumbotron {
  margin-bottom: 0rem;
  padding: 0rem 0rem 0rem 0rem;
  background-image: url("../src/Images/headerBackground.png");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
}

/* .loginButton {
  width: 100px;
  background-color: #7aff42;
} */

.mainBackground {
  position: absolute;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.overpass {
  font-family: 'overpass';
}

/* .signupButton {
  width: 100px;
  background-color: #ff43b7;
} */

.siteTitle {
  font-family: 'paintball';
  display: block;
  width: 100%;
  margin: 0%, auto;
  margin-top: 1%;
  margin-bottom: 0%;
  text-align: center;
  background: linear-gradient(to bottom, #ff43b7, #7aff42);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .splatoonFont, .subTitle {
  font-family: 'paintball';
} */

/* .subTitle {
  text-align: center;
} */